<!DOCTYPE html>
<html ng-app="propelSandbox" ng-controller="MainController as mainController">
<head>
    <title>{{ '{{pageTitle}}' }}Propel Sandbox/Fiddle</title>
    <base href="{{ asset('') }}">
    <meta name="language" content="en">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <link rel="shortcut icon" href="{{ asset('bundles/propelsandbox/images/favicon.ico') }}" type="image/x-icon">

    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/propelsandbox/build/app.css') }}">
    <script src="{{ asset('bundles/propelsandbox/build/complete-app.js') }}"></script>

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Source+Code+Pro:300,400' rel='stylesheet' type='text/css'>

    <script>
        window._baseUrl = {{app.request.getBaseURL() | json_encode | raw}};
    </script>
</head>
{% verbatim %}
<body>
    <nav>
        <header>
            <img ng-src="bundles/propelsandbox/images/propel-logo.png"/>
        </header>
        <section>
            <p><b>Sandbox - Alpha.</b></p>

            <p class="border-box border-box-first">
                Load a example
                <select ng-model="example">
                    <option value="">-- Select Example --</option>
                    <option ng-repeat="example in examples | toArray" value="{{example.$key}}">
                        {{example.label}}
                    </option>
                </select>
            </p>
            <div class="border-box">
                Your fiddles
                <ul>
                    <li ng-repeat="fiddle in myFiddles" ng-class="{'active': fiddle.id == mainController.fiddleId}" ng-click="mainController.openFiddle(fiddle.id)">
                        <span class="id">#{{fiddle.id}}</span> -
                        <span ng-if="fiddle.title">{{fiddle.title}}</span>
                        <span class="no-title" ng-if="!fiddle.title">No title</span>
                    </li>
                </ul>
                <div class="no-items" ng-if="!myFiddles || !myFiddles.length">No fiddles yet</div>
            </div>

            <p>
                Found issues? <a href="https://github.com/propelorm/sandbox/issues" target="_blank">Create a issue</a>.
            </p>
        </section>
    </nav>
    <div class="app">
        <div class="app-actions">
            <button ng-click="mainController.newFiddle()">New</button>
            <button ng-click="mainController.forkFiddle()" class="ladda-button" data-style="expand-left" ui-ladda="forking">Fork</button>
            <button ng-click="mainController.run()" class="ladda-button" data-style="expand-left" ui-ladda="saving"
                    ng-class="{'disabled': !editable}">Save & Run</button>
            <button ng-click="mainController.downloadFiddle()"
                    tooltip-placement="bottom" tooltip="Download a ready to use zip file!"
                    ng-class="{'disabled': !mainController.downloadPossible()}"
                    class="ladda-button download-fiddle" data-style="expand-left" ui-ladda="downloading">Download as zip</button>
        </div>
        <div class="app-title">
            <input placeholder="Enter a Title ..." ng-model="model.title" type="text"/>
        </div>
        <div class="app-left">
            <div class="app-left-top" ng-class="{'not-editable': !editable}">
                <ui-codemirror ng-class="{'with-sticky': fiddle && !editable}"
                               ui-codemirror-opts="schemaCodemirrorOptions"
                               ng-model="model.schema"></ui-codemirror>
                <div ng-if="fiddle && !editable" class="sticky-information">
                    Not your fiddle. <a href ng-click="mainController.forkFiddle()">Fork to edit</a>
                </div>
            </div>
            <div class="app-left-bottom">
                <tabset ng-if="fiddle.databaseInformation && fiddle.databaseInformation.length">
                    <tab ng-repeat="table in fiddle.databaseInformation" heading="{{table.name}} ({{table.count}})">
                        <table class="table table-hover result-table" width="100%" ng-if="table.items">
                            <thead>
                            <tr>
                                <th ng-repeat="column in table.columns">{{column.Field}} <span>{{column.Type}}</span></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="row in table.items">
                                <td ng-repeat="column in table.columns">{{row[column.Field]}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </tab>
                </tabset>
                <div ng-if="!fiddle.databaseInformation || !fiddle.databaseInformation.length" class="no-tables">
                    No Tables found.
                </div>
                <div ng-if="!fiddle" class="overlay overlay-not-run">
                    <div>
                        Press <a href ng-click="mainController.run()">Save & Run</a> to generate models, database tables and script output.
                    </div>
                </div>
            </div>
        </div>
        <div class="app-right">
            <div class="app-right-top" ng-class="{'not-editable': !editable}">
                <ui-codemirror ng-class="{'with-sticky': fiddle && !editable}" ui-codemirror-opts="phpCodemirrorOptions"
                               ng-model="model.php"></ui-codemirror>
                <div ng-if="fiddle && !editable" class="sticky-information">
                    Not your fiddle. <a href ng-click="mainController.forkFiddle()">Fork to edit</a>
                </div>
            </div>
            <div class="app-right-bottom">
                <tabset>
                    <tab heading="Script ({{fiddle.scriptOutput.time*1000|number: 0}}ms)">
                        <div class="output" ng-bind="fiddle.scriptOutput.output"></div>
                        <div class="error" ng-bind="fiddle.scriptOutput.error"></div>
                    </tab>
                    <tab heading="Log">
                        <div class="output" ng-bind="fiddle.logOutput"></div>
                    </tab>
                    <tab heading="Config ({{fiddle.modelBuildOutput.time*1000|number: 0}}ms)">
                        <div class="output" ng-bind="fiddle.configBuildOutput.output"></div>
                        <div class="error" ng-bind="fiddle.configBuildOutput.error"></div>
                    </tab>
                    <tab heading="Model ({{fiddle.modelBuildOutput.time*1000|number: 0}}ms)">
                        <div class="output" ng-bind="fiddle.modelBuildOutput.output"></div>
                        <div class="error" ng-bind="fiddle.modelBuildOutput.error"></div>
                    </tab>
                    <tab heading="SQL ({{fiddle.sqlBuildOutput.time*1000|number: 0}}ms)">
                        <div class="output" ng-bind="fiddle.sqlBuildOutput.output"></div>
                        <div class="error" ng-bind="fiddle.sqlBuildOutput.error"></div>
                    </tab>
                    <tab heading="Insert ({{fiddle.sqlInsertOutput.time*1000|number: 0}}ms)">
                        <div class="output" ng-bind="fiddle.sqlInsertOutput.output"></div>
                        <div class="error" ng-bind="fiddle.sqlInsertOutput.error"></div>
                    </tab>
                </tabset>
                <div ng-if="!fiddle" class="overlay overlay-not-run">
                    <div>
                        Press <a href ng-click="mainController.run()">Save & Run</a> to generate models, database tables and script output.
                    </div>
                </div>
            </div>
        </div>
        <div ng-if="notFound" class="overlay not-found">
            <div>
                Fiddle <i>{{notFound}}</i> not found. <a href ng-click="mainController.newFiddle()">New Fiddle</a>
            </div>
        </div>
        <div ng-if="downloadZip" class="overlay">
            <div>
                <h3 ng-if="downloadingZip">Preparing your zip ...</h3>
                <div ng-if="!downloadingZip && !downloadZipError">
                    <p>Your zip file has been generated.</p>
                    <a ng-href="/downloads/{{zipFileName}}" target="_blank">download {{zipFileName}}</a><br />
                    ({{zipFileSize/1024|number:1}} kilobytes)
                    <h3>Next steps</h3>
                    <div class="info">
                        1. Extract the archive<br />
                        2. Run 'composer update' inside the<br />
                        3. Change 'propel.yml' database connection settings <br />
                        4. Run './vendor/propel/propel/bin/propel config:convert'
                    </div>
                </div>
                <div ng-if="downloadZipError">
                    <h3>Oops, sorry</h3>
                    {{downloadZipError}}
                </div>
                <p>
                    <button ng-click="mainController.cancelDownloadZip()">Close</button>
                </p>
            </div>
        </div>
    </div>
</body>
{% endverbatim %}
</html>